body {
    background-image: url('./asset/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.content {
    width: 60%;
    max-width: 680px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 1rem;
}

header, footer {
    background-color: black;
    color: white;
}

header {
    height: 150px;
}

.title {
    text-align: center;
    font-weight: bold;
}

.header__button-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 0;
}

.header__button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: #fa2525;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}

main.main__section-container {
    height: 100%;
    /* 29 20 43 */
    background-color: rgba(23, 22, 22, 0.6);
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
    /* scrollbar hide */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

main.main__section-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* 4가지 종류의 섹션 관련 스타일 */
.section {
    width: 100%;
    position: relative;
    display: flex;
    /*background-color: rgb(37, 36, 36);*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}


.section > .image-area, .section > .video-area {
    min-width: 60%;
    max-width: 60%;
}

.video-area {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 비율 */
}

.video-area > iframe {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
    border: none;
}

.image-area > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section > .title-area {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.section__title {
    text-align: left;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #e7d3bd;
}

.section__task-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section__content {
    line-height: 1;
}

.section__close {
    position: absolute;
    color: red;
    right: 5px;
    top: 40%;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 12px;
    word-break: keep-all;
}

.modal__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 2.5rem 1rem 1rem 1rem;
    background: black;
    background: -webkit-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    background: -moz-linear-gradient(left, #2f2e2e, #4b4a4a, #2f2e2e);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    opacity: 95%;
    border-radius: 3%;
}

.modal__input {
    display: flex;
    align-items: start;
    gap: 15px;
}

.modal__input > input, .modal__input > textarea {
    width : 250px;
}

.modal__input-label {
    display: block;
    color: white;
    width: 25px;
}

.modal__input > textarea {
    resize: none;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.modal__buttons > button {
    background-color: red;
    color: white;
    border-style: none;
    width: 80px;
    cursor: pointer;
}

/* 각 섹션 배경색 */

.IMAGE {
    background-color: rgba(27, 108, 234, 0.5);
}
#image-button {
    background-color: rgb(75 75 148);
}

.VIDEO {
    background-color: rgba(224, 4, 4, 0.5);
}
#video-button {
    background-color: rgb(170 41 38);
}

.NOTE {
    background-color: rgba(4, 224, 48, 0.5);
}
#note-button {
    background-color: rgb(85 136 59);
}

.TASK {
    background-color: rgba(215, 60, 245, 0.3);
}
#task-button {
    background-color: rgb(116 43 115);
}

.dragging {
    opacity: 0.2;
}